<form method ="POST" action="<%= url %>?_method=DELETE"> <%#Define a query parameter so when server gets request it will see from method override we actually want to do a delete request %>
    <button type="submit">Delete</button>
</form>